<div class="container">
  <h1>New Game</h1>
  <div class="grid">
    <% @letters.each do |letter| %>
      <p class="grid-letter"><%= letter %></p>
    <% end %>
  </div>
  <div class="attempt-form">
    <form action="/new" method="POST">
      <input type="text" id="attempt" name="attemp">
    </form>
  </div>
</div>
