<h1>Result</h1>

<% if @included %>
  <% if @english_word %>
    <p><strong>Congratulations!</strong><%= @word %> is a valid English word!</p> 
  <% end %>
<% end %>
<p>Find me in app/views/games/score.html.erb</p>
